*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(42, 165, 71);
}
h1{
    text-align: center;
    position: relative;
    top: 400px;

    
}
.p{
    height: 100px;
    width: 100%;
    border: 0px;
}

}