*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    

}
html,body{
    height: 100%;
    width: 100%;
    background-color: blue;
}
header{
    height: 80px;
    width: 100%;
    background-color: rgb(20, 162, 136);
}
nav{
height: 100%;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;

}
.logo{
    justify-content: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 89);
    margin: 20px;
}
.logo img{
    height: 50px;
    
}
.mid{
    display: flex;
    justify-content: center;
    align-items: center;

}
.mid h3{
    margin-left:20px ;
}
.end{
    margin: 20px;

}
.end button{
    padding: 8px,16px,8px,16px;
    font-size: 18px;
    font-weight: bold;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;

}
main{
    height: calc(100% - 80px);
    width: 100%;
    background-color: blue;
    display: flex;
}
.left{
    height: 50%;
    width: 100%;
    //background-color: pink;
}
.right{
    height: 50%;
    width: 100%;
    background-color: yellowgreen;

}

}